<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/register/" method="post">
    

    <table>
    <tr>
        <td>用户名</td>
        <td><input type="text" name="username" placeholder="用户名"></td>
    </tr>
    <tr>
        <td>密码</td>
        <td><input type="text" name="password"></td>
    </tr>
        <tr>
        <td>请在输入一次密码</td>
        <td><input type="text" name="repeat_password"></td>
    </tr>
        <tr>
            <td>手机号</td>
            <td><input type="text" name="phone"></td>
        </tr>
        <tr>
            <td>验证码</td>
            <td><input type="text" name="captcha"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="立即注册"></td>
        </tr>
</table>
    
    
</form>


</body>
</html>